@using HotelManagementSystem.Data;
@{
    ViewData["Title"] = "Assign Room";
}
@model (Room room, List<DropDownViewModel> customers)

<head>
    <script>
        function validateForm() {
            let customer = document.forms["AssignmentForm"]["CustomerId"].value;
            let fromDate = document.forms["AssignmentForm"]["FromDate"].getTime();
            let paidAmount = document.forms["AssignmentForm"]["PaidAmount"].value;
            if (customer == "") {
                document.getElementById("customerError").innerHTML = "A customer must be selected.";
                return false;
            } else if (fromDate == "") {
                document.getElementById("fromDateError").innerHTML = "Starting date must be defined.";
                return false;
            }

            Date.
                if(fromDate < Date.now) {
                document.getElementById("fromDateError").innerHTML = "Starting date is before the current time.";
                return false;
            }
            if (fromDate > toDate) {
                document.getElementById("fromDateError").innerHTML = "Starting date is after the ending date.";
                return false;
            }
            if (toDate == "") {
                document.getElementById("toDateError").innerHTML = "Ending date must be defined.";
                return false;
            } if (toDate < fromDate) {
                document.getElementById("toDateError").innerHTML = "Ending date is before the starting date.";
                return false;
            } if (paidAmount == "") {
                document.getElementById("paidAmountError").innerHTML = "Paid amount must be defined.";
                return false;
            }
            else
                return true;
        }
    </script>
</head>

<blockquote>
    <form asp-action="Assign" asp-controller="Room" method="post" name="AssignmentForm">
        <input type="hidden" name="RoomId" value="@Model.room.Id"> <!-- bayad room id ro dashte bashe ke khodemoon be soorate dasti midim behesh -->
        Choose a customer:<br /><select name="CustomerId" required>
            @foreach (var customer in Model.customers)
            {
                <option value="@customer.Id">@customer.Value</option>
            }
        </select>
        <hr>
        <input type="hidden" name="FromDate" placeholder="Enter the beginning of reservation date: " required>
        To Date: <input type="date" name="ToDate" placeholder="Enter the end of reservation date: " required>
        <hr>
        Paid Amount: <input type="text" name="PaidAmount" placeholder="Enter the paid amount: ">
        <hr>
        <button type="submit" class="btn btn-primary">Assign</button>
    </form>
</blockquote>