@using HotelManagementSystem.Data;
@{
    ViewData["Title"] = "Cancel Reservation";
}
@model (Room room, Customer customer)
<h2>Cancel Reservation</h2>
<blockquote>
    <form asp-action="Cancel" asp-controller="Room" method="post">
        <input type="hidden" value="@Model.room.Id" name="Id" />
        <input type="hidden" value="@Model.customer.Id" name="CustomerId" />
        <h3>Are you sure that you want to cancel the reservation for this room?</h3>
        <hr>
        <button type="submit" value="Cancel">Cancel</button>
    </form>
</blockquote>